* {
    margin: 0 0;
}

body {
    background-color: #000;
}

.header {
    background-color: #fff;
    width: 100%;
    height: 100px;
}
main-nav{
    background-color: #fff;
    height: 100px;
    display: flex;
    width:100%;
}
.main-nav__logo{
    float:left;
}
.main-nav__list{
    float: left;
    margin-left: 20%;
}
.main-nav__btn{
    float:right;
}
.main-nav__list{
    padding: 0 15px;
    height: 100px;
    line-height: 100px;
}
.main-nav__btn{ 
    padding: 0 15px;
    height: 100px;
    line-height: 100px;
}
.main-nav__btn > li > a {
    color: #000;
}
.main-nav__logo{
    padding: 0 15px;
    height: 100px;
    line-height: 110px; 
}
.main-nav__list > .main-nav__item {
    margin: 0 17.5px;
    float: left;
    list-style-type: none !important;
    font-weight: 500;
    font-size: 18px;
}
.main-nav__list > .main-nav__item:hover{
    color: #ea5b13;
}
.main-nav__btn > .main-nav__btn-item{
    padding: 0 15px;    
    float: left;
    list-style-type: none !important;
    font-size: 20px;
}
.main-nav__btn > .main-nav__btn-item:hover{
    color: #ea5b13;
}
.home{
    background-image: url("https://themes.the4.co/kalles-html/assets/images/home-sport/slide-01.jpg");
    height: 713px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
.home.main-home__caption{
    position: absolute;
}
.main-home__caption-content{
    position: absolute;
    top: 50%;
    left: 20%;
}
.main-home__caption-content > h4{
    font-size: 25px;
    font-weight: 500;
    color: #fff;
}
.main-home__caption-content > h3{
    font-size: 50px;
    font-weight: 700;
    color: #fff;
}
.main-home__btn{
    min-width: 150px;
    min-height: 40px;
    font-size: 17px;
    color: #fff;
    cursor: pointer;
}
.main-home-list__btn{
    margin-top: 20px;
}
.main-home__btn-shop{
    background-color: #ff8400;
    border-color: #ff8400;
    border: 2px solid #222;
    padding: 10px 25px;
    text-decoration: none;
}
.main-home__explore-shop{
    background-color: transparent;
    border-color: #fff;
    border: 1.5px solid #FFF;
    padding: 10px 25px;
    text-decoration: none;
}