.attr_demo::after{
    content: " (" attr(href) ")";
}
.demo_calc{
    width: calc(100% - 100px);
    border: 1px solid black;
    background-color: yellow;
    padding: 5px;
    text-align: center;
}
.demo_grb{
    width: 100px;
    height: 100px;
    background-color: rgb(203, 32, 32);
}
.demo_grba{
    width: 100px;
    height: 100px;
    background-color: rgba(65, 100, 79, 0.5);
}
.demo_rotate{
    width: 100px;
    height: 100px;
    background-color: rgb(203, 32, 32);
    transform: rotate(20deg);
}
.demo_scale{
  transform: scale(0.7);
  background-color: pink;
}
.demo_translate{
  width: 300px;
  height: 100px;
  background-color: yellow;
  border: 1px solid black;
  transform: translate(50px,100px);
}
.demo_linear-gradient{
  height: 200px;
  background-image: linear-gradient(rgb(234, 66, 66), rgb(156, 156, 130), rgb(169, 169, 240));
}   